/*
* @name         : login.css
* @authors      : Dylan Clement <dylanclement7@gmail.com>, ...
* @description  : CSS pour la page login
* @copyright    : (c) QC 2015
*/

.login
{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
  background: #D2D2D2;
  width:250px;
  text-align: center;
  padding:10px;
}

.login input, .login button
{
  width:80%;
  height:100%;
  background: transparent;
  color: #333333;
  outline: none;
  border: none;
}

.login_logo img
{
  width:80%;
}

.login_row
{
  height:50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.login_submit
{
  margin: 40px 0px 10px 0px;
  height:40px;
  background: #28535C;
}

.login_submit:hover
{
  background : #0D6A86;
}

.login_submit button
{
  color: #FFFFFF;
}

.login_register, .login_register a
{
  font-size:10px;
}

.login_register a
{
  color : #0D6A86;
  text-decoration: none;
}

.red
{
  color : red;
  font-size: 11px;
  display: block;
}

input:-webkit-autofill, input:-webkit-autofill:focus
{
  /* Pour enlever le fond jaune pâle de l'autofill de Chrome */
  -webkit-box-shadow:0 0 0 50px #D2D2D2 inset;
}