* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    cursor: default;
}

html, body {
    height: 100%;
    max-width: 100%;
}

body {
    min-height: 100%;
    min-width: 260px;
    background: white;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

body.grey { background: #F0F0F0; }

body.mui_bg {
    background: #22689B;
    background-image: url("../pictures/muonium_bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

body.mui_bg section#large-content { background: transparent; }

#button_trash { cursor: pointer; }

.undefined { font-style: italic; }

.error {
    margin-top: 10px;
    color: red;
}

.btn-abort {
    cursor: pointer;
    color: red;
    margin-right: 10px;
}

a {
    cursor: pointer;
    color: #333333;
    text-decoration: none;
}

fieldset {
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 95%;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #9A9A9A;
}

.bloc {
	width: calc(100% - 30px);
	margin: auto;
	background-color: #E5E5E5;
	border: 1px solid #D2D2D2;
	border-radius: 4px;
	padding: 10px;
}

.bloc table { width: 100%; }
.bloc table td, .bloc table th { border-bottom: 1px solid #D2D2D2; padding: 5px; text-align: left; }
.bloc table td.fit-width { width: 1%; white-space: nowrap; }
.bloc ul { list-style-type: none; text-align: left; }
.bloc ul li { padding: 10px; border-bottom: 1px solid #D2D2D2; }

.red { color: red; }
.green { color: green; }
.orange { color: orange; }
