.dragbar {
    display: none;
}

@media screen and (min-width: 700px) {
    .dragbar {
        position: absolute;
        background: transparent;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        width: 3px;
        cursor: col-resize;
        z-index: 9999;
    }
}
