header {
    position: relative;
    z-index: 2;
    background: #4FC0E8;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px -3px 12px 3px #808080;

    /* Mobile */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

header #logo { position: relative; text-align: center; }
header #logo img { height: 60px; cursor: pointer; }
header #language { position: absolute; right: 20px; top: 20px; }
header ul {
	list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    /* Mobile */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

header a, header a:visited, header li { color: #E1EFF4; }
header a:hover, header a:active, header a:focus, #menu a:hover, header li:hover, header li:active, header li:focus { color: white; }

header select {
    background-color: transparent;
    border: none;
    font-weight: bold;
    margin: 0 auto;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    padding-right: 20px;
    background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
    background-repeat: no-repeat; background-position: right top;
}
header option { background: white; font-weight: normal; color: black; }
header select:hover { color: #004B7D; }

header li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 5px;
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    header { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

    header ul {
        padding-left: 50px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
}

@media screen and (min-width: 700px) {
    header { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
    header #logo { padding-left: 20px; }

    header ul {
        padding-left: 50px; padding-right: 90px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
}
