label, input, textarea {
    -webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

section#large-content input {
    margin-top: 10px;
}

section#large-content input[type="text"], section#large-content input[type="password"], section#large-content input[type="submit"], section#large-content select, section#large-content textarea {
    width: 90%;
    border: 1px solid rgba(40, 83, 92, 0.44);
    border-radius: 3px;
    outline: none;
    padding-left: 10px;
    color: #28535c;
    max-width: 680px;
}

section#large-content input[type="text"], section#large-content input[type="password"], section#large-content input[type="submit"], section#large-content select { height: 36px; }

section#large-content label.fa {
    white-space: nowrap;
    margin-top: 10px;
    background: #EEEEEE;
    width: 40px;
    height: 36px;
    border: 1px solid rgba(40, 83, 92, 0.44);
    border-radius: 3px 0 0 3px;
    outline: none;
    color: #555555;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}

section#large-content label.fa ~ input[type="text"], section#large-content label.fa ~ input[type="password"], section#large-content label.fa ~ input[type="submit"] {
    vertical-align: middle;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    width: calc(90% - 40px);
    max-width: calc(680px - 40px);
}

section#large-content input[type="submit"]:hover {
    background: #3BAEDA;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
}

form.block input, form.block select, form.block textarea, form.block button {
    display: block;
    margin: auto;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="radio"] + label, input[type="checkbox"] + label {
    cursor: pointer;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type="radio"] + label:before, input[type="checkbox"] + label:before {
    display: inline-block;
    content: '';
    background: white;
    width: 12px;
    height: 12px;
    border: 3px solid #26A69A;
    margin-right: 8px;
    margin-top: 8px;
}

input[type="radio"] + label:before {
    border-radius: 50%;
}

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
    box-shadow: inset 0px 0px 0px 3px white;
    background: #26A69A;
}
