section#large-content {
    width: 100%;
    text-align: center;
    background: #F0F0F0;
    padding-top: 10px;
    overflow: auto;
    flex-grow: 1;
}

section#large-content.spaced p {
    margin-bottom: 20px;
}

section#large-content.spaced #return {
    margin-top: 20px;
}
