section#desktop {
    background: white;
    padding: 1rem;
    overflow: auto;
    margin-bottom: 200px;
    width: 100%;
}

section#desktop img.arrow { height: 5vh; width: 5vh; }

@media screen and (min-width: 700px) {
    section#desktop { margin-bottom: 0; }
}
