#MessageBox {
    box-sizing: border-box;
    background: #FBFBFB;
    padding: 20px;
    position: absolute;
    z-index: 9999;
    border: 1px solid #C7C7C7;
    border-radius: 1px;
    box-shadow: 0 2px 5px #C5C5C5;
    font-family: Helvetica, sans-serif;
    min-width: 20%;
}

#MessageBox .MessageBoxClose {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: #727272;
    top: 0;
    right: 5px;
    cursor: pointer;
}

#MessageBox .MessageBoxMsg {
    color: black;
    font-size: 14px;
}

#MessageBox .MessageBoxBtns {
    text-align: right;
    margin-top: 5px;
}

#MessageBox .MessageBoxBtns input[type="button"] {
    margin: 0 5px 0 5px;
    background: white;
    border: 1px solid #3E7EF8;
    border-radius: 1px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    outline: none;
}

#MessageBox .MessageBoxBtns input[type="button"]:active {
    background: #E6E6E6;
    border: 1px solid #3E7EF8;
    border-radius: 1px;
}
