.MessageBox {
    padding: 10px;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 8px 16px 0 rgba(82, 97, 115, 0.18);
    font-family: Roboto;
    width: 100%;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    bottom: 50px;
    display: none;
	cursor: move;
}

.MessageBox .MessageBoxTitle {
	font-family: RobotoMono; font-size: 15px; font-weight: bold;
	letter-spacing: .1px;
	margin: 10px 0;
}

.MessageBox .MessageBoxTxt { font-family: Roboto; font-size: 14px; }
.MessageBox .MessageBoxTxt ul { margin-left: 20px; }

.MessageBox .MessageBoxClose {
    position: absolute;
    font-size: 24px; font-weight: bold;
    color: #727272;
    top: 0; right: 5px;
    cursor: pointer;
}

.MessageBox .MessageBoxBtns { text-align: right; margin-top: 5px; }
.MessageBox .MessageBoxBtns input, .MessageBox .MessageBoxBtns button { margin-left: 15px; }

.MessageBox .MessageBoxToggle { margin: 10px 0; }
.MessageBox .MessageBoxToggle > span {
    padding: 0 7px;
    position: relative;
    top: -7px;
	font-size: 16px;
}

.MessageBox .MessageBoxToggle .switch {
    position: relative;
    display: inline-block;
    width: 45px; height: 26px;
}
.MessageBox .MessageBoxToggle .switch input { display: none; }

.MessageBox .MessageBoxToggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s; transition: .4s;
    border-radius: 26px;
}

.MessageBox .MessageBoxToggle .slider::before {
    position: absolute;
    content: "";
    height: 20px; width: 20px;
    left: 3px; bottom: 3px;
    background-color: white;
    -webkit-transition: .4s; transition: .4s;
    border-radius: 50%;
}

.MessageBox .MessageBoxToggle input:checked + .slider {
    background-color: #16c1f3;
}

.MessageBox .MessageBoxToggle input:focus + .slider {
    box-shadow: 0 0 1px #16c1f3;
}

.MessageBox .MessageBoxToggle input:checked + .slider::before {
    -webkit-transform: translateX(20px); -ms-transform: translateX(20px); transform: translateX(20px);
}

@media screen and (max-width: 699px) {
    .MessageBox {
        left: auto !important; top: auto !important;
		width: 100% !important;
    }
}

@media screen and (min-width: 700px) {
    .MessageBox {
        position: absolute;
        min-width: 20%;
        width: auto;
        bottom: auto; left: 50%; top: 50%;
        transform: translate(-50%, -50%);
    }

    .MessageBox .MessageBoxClose { font-size: 18px; }
}
