*
{
    margin: 0;
    padding: 0;
    
    font-family: Tahoma;
    font-size: 14px;
}

html
{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

body
{
    background-color: rgb(245, 245, 245);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    height: 7%;
    width: 100%;
    
    background-color: rgba(40, 68, 92, 0.9);
}

header div#logo
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    
    background: url("../images/header/logo.svg") no-repeat;
    background-size: 5vh;
    background-position: .8vw center;
}

header div#user
{
    display: table;
    
    position: absolute;
    top: 0;
    right: 100px;
    height: 100%;
    width: 25%;
    
    color: #f2f2f2;
}

header div#user p
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    width: 25%;
    
    cursor: pointer;
}
header div#user p:hover
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    color: orange;
    background-color: rgba(255, 165, 0, 0.2);
}

header div#user img
{
    height: 3vh;
}

section#toolbar
{
    display: table;
    
    position: absolute;
    top: 11%;
    left: 0;
    height: 12%;
    width: 100%;
    
    background-color: rgb(167, 167, 167);
}

section#toolbar div
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    color: rgb(10, 76, 95);
    text-transform: uppercase;
    
    font-size: 12px;
    
    width: 20%;
    
    cursor: pointer;
}
section#toolbar div.selected
{
    background-color: rgba(0, 147, 255, 0.2);
    color: rgb(186, 220, 255);
}
section#toolbar div:hover
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    background-color: rgba(255, 165, 0, 0.2);
    
    color: #bc7a00;
}

section#toolbar div img
{
    height: 6vh;
    width: 6vh;
}

section#desktop
{
    position: absolute;
    top: 26%;
    left: 3vh;
    width: calc(100% - 6vh);
    height: 71%;
    
    background-color: white;
    
    border-radius: 3px;
    
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.49);
}

section#desktop img.arrow
{
    z-index: 1;
    
    position: absolute;
    top: -3.5vh;
    height: 5vh;
    width: 5vh;
}

section#desktop img.arrow.favorites { left: calc(7.8% - 2.5vh); }
section#desktop img.arrow.recents { left: calc(29% - 2.5vh); }
section#desktop img.arrow.general { left: calc(50% - 2.5vh); }
section#desktop img.arrow.shares { left: calc(71.2% - 2.5vh); }
section#desktop img.arrow.transfers { left: calc(92.2% - 2.5vh); }

section#desktop div.content
{
    z-index: 2;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    border-radius: 3px;
    
    display: none;
}

section#desktop div#desktop_general div#nav
{
    position: absolute;
    top: 0;
    left: 7%;
    height: 10%;
    width: 93%;
    
    background-color: rgba(0, 0, 0, 0.1);
}

section#desktop div#desktop_general div#nav span.content
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
}

section#desktop div#desktop_general div#nav span.content span
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    color: #0f7a9a;
}

section#desktop div#desktop_general div#nav span.content span.separator
{
    width: 4vw;
    
    text-shadow: 1px 1px 1px #1e3e45;
    
    color: #1e3e45;
}

section#desktop div#desktop_general div#nav span.content span.dir
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    width: 10vw;
    
    cursor: pointer; 
}
section#desktop div#desktop_general div#nav span.content span.dir:hover
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    background-color: rgba(255, 165, 0, 0.2);
    color: #aa6e00;
}

section#desktop div#desktop_general div#leftPanel
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 7%;
    
    background-color: rgba(0, 0, 0, 0.1);
    
    border-right: 1px solid rgba(0, 0, 0, 0);
}

section#desktop div#desktop_general div#leftPanel div#listTypes
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
}

section#desktop div#desktop_general div#leftPanel div#listTypes p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    width: 33.33%;
    
    cursor: pointer;
}

section#desktop div#desktop_general div#leftPanel div#listTypes p.selected
{
    background-color: rgba(255, 0, 0, 0.2);
}

section#desktop div#desktop_general div#leftPanel div#listTypes p:hover
{
    background-color: rgba(255, 165, 0, 0.2);
}

section#desktop div#desktop_general div#leftPanel div#listTypes p img
{
    width: 1.5vw;
}

section#desktop div#desktop_general div#leftPanel div#actions
{
    display: table;
    
    position: absolute;
    top: 10%;
    left: 0;
    height: 90%;
    width: 100%;   
}

section#desktop div#desktop_general div#leftPanel div#actions div.action
{
    display: table-row;
}

section#desktop div#desktop_general div#leftPanel div#actions div.action p
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    cursor: pointer;
}
section#desktop div#desktop_general div#leftPanel div#actions div.action p:hover
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    background-color: rgba(255, 165, 0, 0.2);
}

section#desktop div#desktop_general div#leftPanel div#actions div.action p img
{
    height: 5vh;
}

section#desktop div#desktop_general div#rightPanel
{
    position: absolute;
    top: 10%;
    left: 7%;
    height: 93%;
    width: 93%;
    
    overflow: auto;
}

section#desktop div#desktop_general div#rightPanel table
{
    padding: 2vh;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section#desktop div#desktop_general div#rightPanel table tr
{
    text-align: center;
    
    height: 15vh;
}

section#desktop div#desktop_general div#rightPanel table tr td
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    width: 16.66%;
    
    cursor: pointer;
    
    border-radius: 3px;
}
section#desktop div#desktop_general div#rightPanel table tr td:hover
{
    background-color: rgba(255, 165, 0, 0.2);
    color: #6c4600;
}

section#desktop div#desktop_general div#rightPanel table tr td img
{
    height: 6vh;
}

#tree span
{
    display: block;
    width: 100%;
}

#tree span, #tree a
{
    cursor: pointer;
}