.quota {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.progress_bar {
    margin-bottom: 10px;
    flex-grow: 1;
    height: 6px;
	border-radius: 3px;
}

.progress_bar .used { height: 6px; border-radius: 3px; }
