.quota {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.progress_bar {
    margin-left: 10px;
    flex-grow: 1;
    height: 3px;
    background: #D2D2D2;
}

.progress_bar .used {
    background: #27A3D1;
    height: 3px;
}
