body { background-color: #4a4a4a; color: #fff; }

h3 { color: #fff; }

header { background-color: #3b3a3a; box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4); }

select {
	color: #fff;
	background: url(data:image/gif;base64,R0lGODlhDgAMAKoAAEtKSt3d3f///4uLi9fW1v//mQAAAAAAACH5BAEAAAUALAAAAAAOAAwAAAMlWLrc/vANAMEoQwTaQBDTtzGeRpVjgXKqCKyd6D6lGQEEwUZPAgA7);
}

.sidebar { background-color: #3b3a3a; }

.container-small, .container-large {
	background-color: #3b3a3a;
}

form h1 { color: #fff; }

.input-large input, .input-large select, .input-large textarea {
	background-color: #3b3a3a;
	color: #fff;
}
.input-large input, .input-large select {
	border-bottom-color: #4e4d4d;
}
.input-large input:focus, .input-large input:active { border-bottom-color: #8be0f9; }
.input-large input + label.fa {
	color: #fff;
}

.input-large input[type="checkbox"] + label:not(.fa), .input-large input[type="radio"] + label:not(.fa) {
	color: #aaa;
	border-bottom-color: #4e4d4d;
}
/* Yes, we need separate rules for each browser. Otherwise the whole group would be ignored by all browsers. */
.input-large input::-webkit-input-placeholder { color: #aaa; }
.input-large input:-moz-placeholder { color: #aaa; }
.input-large input::-moz-placeholder { color: #aaa; }
.input-large input:-ms-input-placeholder { color: #aaa; }

a { color: #fff; }

input[type="radio"] + label:before, input[type="checkbox"] + label:before {
	background-color: transparent;
}

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
	color: #393c3d;
}

textarea { border-color: #4e4d4d; }

.bloc-offers > div { background-color: #212121; }
.offer-size, .offer-price, .offer-duration { color: #fff; }

.info { background-color: #212121; }

.logout { color: #fff; }

fieldset, legend { color: #fff; }
fieldset .label { color: #fff; }
