#selection {
	position: relative;
	z-index: 1;
    overflow: none;
	font-family: Roboto;
    margin-bottom: -48px;
    width: 17%; min-width: 240px; max-width: 300px;
	box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
#selection > div { padding: 19px; }

#selection ul { list-style-type: none; font-size: 12px; }

#selection.selected {
    display: block;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    box-shadow: -2px 0px 8px 1px #ccc;
}

#selection .selection input:not([type="checkbox"]):not([type="radio"]):not([type="button"]) {
	margin-bottom: 10px;
    width: 100%; height: 32px;
	padding-left: 10px;
    border-width: 0 0 2px 0; border-style: solid;
    outline: none;
	font-family: RobotoMono; font-size: 11px;
}

#selection a.blue { font-size: 15px; letter-spacing: 1px; font-weight: 500; padding-bottom: 15px; }
#selection a.blue > .fa { width: 25px; }

.multiselected_details { display: block; font-size: 14px; margin-top: 10px; }
li#multisel_desktop { display: none; }

#selection .selection strong {
	display: block;
	font-family: OpenSans; font-size: 12px; font-weight: bold;
	text-transform: uppercase;
	padding-top: 5px; padding-bottom: 15px;
}

@media screen and (min-width: 600px) {
    #selection ul { margin-top: 20px; }
    li#multisel_desktop { display: block; }
}
