#selection {
	position: relative;
	z-index: 1;
    overflow: none;
	font-family: Roboto;
    width: 17%; min-width: 240px; max-width: 300px;
	box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
#selection > div { padding: 19px; }

#selection .fixed { max-height: calc(100vh - 70px); overflow-x: hidden; overflow-y: auto; }

#selection.selected {
    display: block;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    box-shadow: -2px 0px 8px 1px #ccc;
}

#selection .selection input:not([type="checkbox"]):not([type="radio"]):not([type="button"]) {
	margin-bottom: 10px;
    width: 100%; height: 32px;
	padding-left: 10px;
    border-width: 0 0 2px 0; border-style: solid;
    outline: none;
	font-family: RobotoMono; font-size: 11px;
}

#selection a.blue { font-size: 15px; letter-spacing: 1px; font-weight: 500; padding-bottom: 15px; }
#selection a.blue > .fa { width: 25px; }

#selection .selection strong {
	display: block;
	font-family: OpenSans; font-size: 12px; font-weight: bold;
	text-transform: uppercase;
	padding-top: 5px; padding-bottom: 15px;
}
