* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    cursor: default;
}

html, body {
    height: 100%;
    max-width: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
	font-size: 14px;
}

#main {
	display: flex;
	min-height: calc(100% - 70px);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px white inset;
	-webkit-text-fill-color: #555 !important;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.mono { font-family: RobotoMono; }

h3 {
	font-size: 18px; font-family: RobotoMono;
	letter-spacing: .4px;
	text-align: left;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 70px;
	padding: 0 30px;
	position: relative;
}

#logo { flex: 1; }
#logo img { height: 30px; }

#language-selector select {
	background-color: transparent;
	font-weight: bold; font-family: OpenSans;
    margin: 0 auto;
	letter-spacing: .1px;
}
#language-selector option { color: #212121; }

.sidebar {
	width: 80px; min-width: 80px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.sidebar ul {
	list-style-type: none;
	margin: 40px 0;
	position: fixed;
	width: 80px;
}
.sidebar li {
	display: flex;
	text-align: center;
	height: 80px;
}
.sidebar li > a {
	display: flex;
	margin: 10px 0;
	flex: 1;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 20px;
}
.sidebar li > a, .sidebar li > a:visited { color: #757575; }
.sidebar li > a:hover, .sidebar li > a:active, .sidebar li > a:focus { color: #16c1f3; }
.sidebar li > a.selected {
	color: #16c1f3; border-right: 3px solid #16c1f3;
}

.container-small, .container-large {
	margin: 40px auto;
	width: 100%;
	max-width: 100%;
	border-radius: 5px;
  	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
	padding: 20px;
	overflow: hidden;
}
.container-large {
	margin-left: 15px; margin-right: 15px;
}

form.form-login, form.form-register, form.form-bug, .container-small > form {
	margin: 30px auto 0px auto;
	width: calc(100% - 30px);
}
form.form-bug input, form.form-bug select { padding-left: 16px; }
form.form-bug fieldset { margin-bottom: 0; }
/*form.form-err .input-large input {
	border-bottom-color: #ff9999;
}*/

form h1 {
	font-size: 24px; font-weight: bold;
	letter-spacing: .5px;
	text-align: left;
}

.input-large { position: relative; }
.input-large input, .input-large select, .input-large textarea {
	width: 100%;
	font-family: RobotoMono; font-size: 14px; font-weight: 500;
	text-align: left;
	outline: none;
}
.input-large input, .input-large label { margin-top: 24px; }
.input-large input, .input-large select {
	height: 48px;
	border-width: 0 0 2px 0; border-style: solid;
	padding-left: 34px;
}
.input-large input + label.fa {
	font-size: 16px;
	position: absolute;
	bottom: 16px; left: 0;
}
.input-large input[type="checkbox"] + label:not(.fa), .input-large input[type="radio"] + label:not(.fa) {
	font-family: RobotoMono; font-size: 14px; font-weight: 500; text-transform: uppercase;
	padding-bottom: 16px;
	border-width: 0 0 2px 0; border-style: solid;
	outline: none;
}
/* Yes, we need separate rules for each browser. Otherwise the whole group would be ignored by all browsers. */
.input-large input::-webkit-input-placeholder {
    opacity: 1; -webkit-appearance: textfield; appearance: textfield;
	font-family: RobotoMono; font-size: 14px; font-weight: 500; text-transform: uppercase;
}
.input-large input:-moz-placeholder {
    opacity: 1; -moz-appearance: textfield; appearance: textfield;
	font-family: RobotoMono; font-size: 14px; font-weight: 500; text-transform: uppercase;
}
.input-large input::-moz-placeholder {
    opacity: 1; -moz-appearance: textfield; appearance: textfield;
    font-family: RobotoMono; font-size: 14px; font-weight: 500; text-transform: uppercase;
}
.input-large input:-ms-input-placeholder {
    opacity: 1; appearance: textfield;
    font-family: RobotoMono; font-size: 14px; font-weight: 500; text-transform: uppercase;
}

input[type="radio"], input[type="checkbox"] { display: none; }
input[type="radio"] + label, input[type="checkbox"] + label {
    cursor: pointer;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
	display: inline-block;
	position: relative;
	padding-left: 34px;
	min-height: 18px;
}

input[type="radio"] + label:before, input[type="checkbox"] + label:before {
    display: inline-block;
	position: absolute;
	left: 0;
    content: "";
	font-family: FontAwesome;
    width: 14px; height: 14px;
	font-size: 14px;
    border-width: 2px; border-style: solid; border-color: #b4bac6;
	border-radius: 2px;
}

input[type="radio"] + label:before { border-radius: 50%; }

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
	background-color: #16c1f3; border-color: #16c1f3;
	content: "\f00c";
}

select {
	background-repeat: no-repeat; background-position: right center;
	border: none;
	-webkit-appearance: none; -moz-appearance: none; appearance: none;
    padding-right: 20px;
	cursor: pointer;
}

textarea { border-style: solid; border-width: 2px; padding: 5px; }

a, a > i.fa, a > span.fa { cursor: pointer; }
a { text-decoration: underline; }
a.blue, a.blue:visited { color: #16c1f3; font-weight: 500; text-decoration: none; }
a.blue:hover, a.blue:active, a.blue:focus { color: #0b9fcb; }

.btn {
	height: 35px;
	padding : 0px 15px;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	box-shadow: 0 4px 10px 0 rgba(22, 193, 243, 0.2);
	color: #fff;
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
	border: none; outline: none;
	cursor: pointer;
}
.btn, .btn:visited { background-color: #16c1f3; }
.btn:hover, .btn:active, .btn:focus { background-color: #0cb1e4; }
.btn:disabled { background-color: #8be0f9; }
.btn-profile { padding: 0 64px; float: right; }
.btn-warning { background-color: #c62828 !important; box-shadow: none; }
.btn-warning:disabled { opacity: .5; }

.bloc-links {
	flex-direction: column;
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bloc-links > * { margin-top: 10px; }

.bloc-input {
	flex-direction: column;
	margin-bottom: 15px;
	text-align: left;
	display: flex;
	align-items: center;
	width: 100%; max-width: 100%;
}
.bloc-input > div { width: 100%; margin-bottom: 25px; }

.bloc-offers {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%; max-width: 100%;
}
.bloc-offers > div {
	width: 100%; height: 340px;
	margin-bottom: 24px;
	position: relative;
	overflow: hidden;
	margin-right: 24px;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05);
	padding: 55px 32px;
	border: solid 4px transparent;
	text-align: center;
}
.bloc-offers > div:hover, .bloc-offers > div:active, .bloc-offers > div:focus { border: solid 4px #16c1f3; }
.bloc-offers > div > .most-popular {
	position: absolute;
	width: 160px; height: 48px; line-height: 48px;
	font-family: RobotoMono;
	font-size: 12px; font-weight: bold;
	letter-spacing: .1px;
  	transform: rotate(-45deg);
	color: #fff;
  	background-color: #16c1f3;
	top: 15px; left: -40px;
}
.offer-size {
	height: 29px;
	font-family: RobotoMono; font-size: 22px; font-weight: bold;
	letter-spacing: 2.8px;
	margin-bottom: 24px;
}
.offer-price {
	height: 74px;
	font-family: RobotoMono; font-size: 56px; font-weight: 500;
}
.offer-price .currency { font-size: 20px; vertical-align: super; padding-right: 5px; }
.offer-duration {
	height: 16px;
	font-family: RobotoMono; font-size: 12px; font-weight: bold;
	letter-spacing: .1px;
	margin-bottom: 45px;
}

.info {
	width: 100%;
	padding: 10px 25px;
	border-radius: 10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	margin: 10px 0;
}

.nowrap {
	white-space: nowrap;
	overflow: hidden; text-overflow: ellipsis;
}
.nomargin { margin: 0 !important; }
.nopadding { padding: 0 !important; }
.red, .error { color: red; }
.green, .success { color: green; }

.logout { font-size: 20px; margin-left: 25px; }

p { margin-bottom: 10px; }
p.em { margin: 15px 0; }

fieldset {
	border: none;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}
legend {
	font-size: 16px;
	text-align: left;
	letter-spacing: .6px;
	font-weight: 500;
	padding: 25px 0;
}
fieldset p { margin-bottom: 25px; }
fieldset .label { font-family: RobotoMono; font-weight: 500; margin-right: 8px; }

table.table-large { width: 100%; max-width: 100%; }

@media screen and (min-width: 600px) {
	.input-large input { padding-left: 44px; }

	.container-small {
		width: 600px; max-width: 600px;
		margin: 7vh auto 48px auto;
	}
	.container-large {
		margin: 48px 50px;
		padding: 25px 50px;
	}

	form.form-login, form.form-register { width: 60%; }
	form.form-bug { width: 70%; margin-left: 0; }

	.bloc-links {
		flex-direction: row;
		margin-top: 55px;
		margin-bottom: 55px;
	}
	.bloc-links > * { margin-top: 0; }

	.bloc-input { flex-direction: row; flex-wrap: wrap; }
	.bloc-input > div { flex-basis: 400px; }

	.bloc-offers { flex-direction: row; flex-wrap: wrap; }
	.bloc-offers > div { flex-basis: 240px; }

	input[type="radio"] + label, input[type="checkbox"] + label { padding-left: 44px; }
}

@media screen and (min-width: 800px) {
	.bloc-input > div:not(:last-child) { margin-right: 100px; }
}

@media screen and (min-width: 1200px) {
	form.form-bug { width: 33%; }
}
