* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    cursor: default;
}

html, body {
    height: 100%;
    max-width: 100%;
}
body {
    min-height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
	font-size: 14px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px white inset;
	-webkit-text-fill-color: #555 !important;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.mono { font-family: RobotoMono; }

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	padding: 0 30px;
}

#logo { flex: 1; }
#logo img { height: 30px; }

#language-selector select {
	background-color: transparent;
    border: none;
    font-weight: bold;
    margin: 0 auto;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    padding-right: 20px;
    background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
    background-repeat: no-repeat; background-position: right top;

	cursor: pointer;
	color: black;
}

.container-small {
	margin: 40px auto auto auto;
	width: 100%;
	max-width: 100%;
	border-radius: 5px;
  	background-color: #fff;
  	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
	padding: 20px;
}

form.form-login, form.form-register {
	margin: 30px auto 0px auto;
	width: calc(100% - 30px);
}
form.form-err .input-large input {
	border-bottom-color: #ff9999;
}

form h1 {
	font-size: 24px; font-weight: bold;
	letter-spacing: .5px;
	text-align: left;
	color: #212121;
}

.input-large { position: relative; }
.input-large input, .input-large label { margin-top: 24px; }
.input-large input {
	width: 100%; height: 48px;
	background-color: #fff;
	border-width: 0 0 2px 0; border-style: solid; border-bottom-color: #f4f4f4;
	padding-left: 34px;
	font-family: RobotoMono; font-size: 14px; font-weight: 500;
	text-align: left;
	color: #212121;
	outline: none;
}
.input-large input:focus, .input-large input:active { border-bottom-color: #8be0f9; }
.input-large input + label.fa {
	color: #757575;
	font-size: 16px;
	position: absolute;
	bottom: 16px; left: 0;
}
.input-large input::-webkit-input-placeholder {
    color: #555; opacity: 1; -webkit-appearance: textfield; appearance: textfield;
	font-family: RobotoMono; font-size: 14px; font-weight: 500; text-transform: uppercase;
}
.input-large input:-moz-placeholder {
    color: #555; opacity: 1; -moz-appearance: textfield; appearance: textfield;
	font-family: RobotoMono; font-size: 14px; font-weight: 500; text-transform: uppercase;
}
.input-large input::-moz-placeholder {
    color: #555; opacity: 1; -moz-appearance: textfield; appearance: textfield;
    font-family: RobotoMono; font-size: 14px; font-weight: 500; text-transform: uppercase;
}
.input-large input:-ms-input-placeholder {
    color: #555; opacity: 1; appearance: textfield;
    font-family: RobotoMono; font-size: 14px; font-weight: 500; text-transform: uppercase;
}

a {
	cursor: pointer;
	color: #757575;
	text-decoration: underline;
}
a.blue, a.blue:visited { color: #16c1f3; font-weight: 500; text-decoration: none; }
a.blue:hover, a.blue:active, a.blue:focus { color: #0b9fcb; }

.btn {
	height: 35px;
	padding : 0px 15px;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	box-shadow: 0 4px 10px 0 rgba(22, 193, 243, 0.2);
	color: #fff;
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
}
.btn, .btn:visited { background-color: #8be0f9; }
.btn:hover, .btn:active, .btn:focus { background-color: #5ad2f6; }

.bloc-links {
	flex-direction: column;
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bloc-links > a { margin-top: 10px; }

input[type="radio"], input[type="checkbox"] { display: none; }
input[type="radio"] + label, input[type="checkbox"] + label {
    cursor: pointer;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
	display: inline-block;
	position: relative;
	padding-left: 34px;
	min-height: 18px;
}

input[type="radio"] + label:before, input[type="checkbox"] + label:before {
    display: inline-block;
	position: absolute;
	left: 0;
    content: "";
	font-family: FontAwesome;
    background: white;
    width: 14px; height: 14px;
	font-size: 14px;
    border-width: 2px; border-style: solid; border-color: #b4bac6;
	border-radius: 2px;
}

input[type="radio"] + label:before { border-radius: 50%; }

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
	background-color: #16c1f3; border-color: #16c1f3;
	color: #fff;
	content: "\f00c";
}

@media screen and (min-width: 600px) {
	.input-large input { padding-left: 44px; }

	.container-small {
		width: 600px;
		max-width: 600px;
		margin: 140px auto auto auto;
	}

	form.form-login, form.form-register { width: 60%; }

	.bloc-links {
		flex-direction: row;
		margin-top: 65px;
		margin-bottom: 55px;
	}
	.bloc-links > a { margin-top: 0; }

	input[type="radio"] + label, input[type="checkbox"] + label { padding-left: 44px; }
}
